<div class="home__container">
	<div class="home__header">
		<h1>PlayStation Store</h1>
		<p>Descubra os melhores jogos para PlayStation</p>
	</div>
	
	<div class="games__section">
		<h2>🔥 Em Destaque</h2>
		<div class="games__grid">
			<app-card
				gameCover="assets/bt-1.jpg"
				gameLabel="DIGITAL"
				gameType="DIGITAL | PS4"
				gamePrice="R$ 129,99"
			>
			</app-card>
			<app-card
				gameCover="assets/bt-4.jpg"
				gameLabel="EXCLUSIVE"
				gameType="DISC | PS5"
				gamePrice="R$ 269,99"
			>
			</app-card>
			<app-card
				gameCover="assets/ac-cover.jpg"
				gameLabel="BEST OF YEAR"
				gameType="DIGITAL | PS5"
				gamePrice="R$ 369,99"
				>
			</app-card>
		</div>
	</div>

	<div class="games__section">
		<h2>🆕 Novos Lançamentos</h2>
		<div class="games__grid">
			<app-card
				gameCover="assets/bt-hardline.jpg"
				gameLabel="NEW"
				gameType="DIGITAL | PS3 PS4 PS5"
				gamePrice="R$ 369,99"
			>
			</app-card>
			<app-card
				gameCover="assets/bt-5.jpg"
				gameLabel="POPULAR"
				gameType="DIGITAL | PS5"
				gamePrice="R$ 299,99"
			>
			</app-card>
			<app-card
				gameCover="assets/bt-bad-company-2.jpg"
				gameLabel="CLASSIC"
				gameType="DIGITAL | PS4 PS5"
				gamePrice="R$ 89,99"
			>
			</app-card>
		</div>
	</div>
</div>

