<footer class="footer">
  <div class="footer__container">
    <div class="footer__section">
      <h3>PlayStation</h3>
      <ul>
        <li><a href="#">PlayStation 5</a></li>
        <li><a href="#">PlayStation 4</a></li>
        <li><a href="#">PlayStation VR</a></li>
        <li><a href="#">PlayStation Plus</a></li>
      </ul>
    </div>
    
    <div class="footer__section">
      <h3>Jogos</h3>
      <ul>
        <li><a href="#">Novos Lançamentos</a></li>
        <li><a href="#">Em Destaque</a></li>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Exclusivos PlayStation</a></li>
      </ul>
    </div>
    
    <div class="footer__section">
      <h3>Suporte</h3>
      <ul>
        <li><a href="#">Central de Ajuda</a></li>
        <li><a href="#">Contato</a></li>
        <li><a href="#">Status da PSN</a></li>
        <li><a href="#">Política de Privacidade</a></li>
      </ul>
    </div>
    
    <div class="footer__section">
      <h3>Redes Sociais</h3>
      <div class="social__links">
        <a href="#" class="social__link">📘 Facebook</a>
        <a href="#" class="social__link">🐦 Twitter</a>
        <a href="#" class="social__link">📷 Instagram</a>
        <a href="#" class="social__link">📺 YouTube</a>
      </div>
    </div>
  </div>
  
  <div class="footer__bottom">
    <p>&copy; 2025 Sony Interactive Entertainment. PlayStation Store Clone - Projeto Educacional.</p>
    <p>Todos os direitos reservados. Este é um projeto de demonstração.</p>
  </div>
</footer>
